
html {
    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(270deg, #ffc100, #2d0176);
    background-size: 400% 400%;
    -webkit-animation: sunset 200s ease infinite;
    -moz-animation: sunset 200s ease infinite;
    animation: sunset 200s ease infinite;
}

h1 {
    padding: 5px;
    font-family: 'Cinzel', serif;
    font-weight:100;
    font-size: 6em;
}

p {
    font-size: 2em;
    font-weight: 800;
    
}


.title {
    margin-top:100px;
}


@-webkit-keyframes sunset {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes sunset {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes sunset {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1, p {
    background: linear-gradient(270deg, rgba(88,31,24,1) 19%, rgba(255,113,242,1) 52%, rgba(241,136,5,1) 89%);
    background-size: 400% 400%;
    -webkit-animation: reflection 200s ease infinite;
    -moz-animation: reflection 200s ease infinite;
    animation: reflection 200s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes reflection {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes reflection {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes reflection {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

