*{
    margin: 0;
    border:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    color: #202020;
}

body{
    background-color:#656565 !important;
    background: #656565;
}

textarea, input{
    background-color: rgba(0, 0, 0, 0);
}

textarea{
    outline: none;
    width: 295px; 
    padding-left: 5px;
    height: 120px;
    display:inline-block;
    overflow-y: scroll;
    resize: none; 
    
}

input[type="text"]{
    
    border: none;
    outline: none;
    width: 200px;
    height: 35px;
    font-size: large;
    margin-left: 5px;
}
i{
    margin:2px 5px;
}

/*Colors*/
.r-background{
    background-color: #FF5A5A;
}
.r-light-background{
    background-color: #FFA8A8;
}
.y-background{
    background-color: #F3CD43;
}
.y-light-background{
    background-color: #FFF6A5;
}
.g-background{
    background-color: #30E081;
}
.g-light-background{
    background-color: #A8FFE5;
}

.r{
    color: #FF5A5A;
}
.r-light{
    color: #FFA8A8;
}
.y-{
    color: #F3CD43;
}
.y-light{
    color: #FFF6A5;
}
.g{
    color: #30E081;
}
.g-light{
    color: #A8FFE5;
}

.shadow{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) ;
}

.text-title{
    font-weight: 500;
}
.text-card{
    font-weight: 300;
}
.text-navigation{
    font-weight: 100;
}
.card {
    
    display:block;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.title{
    border-radius: 8px 8px 0 0;
    display: block;
    width: 100%;
    height: 40px;
    position:relative;

    
}

.footer{
    border-radius: 0 0 8px 8px;
    display:inline-block;
    width: 100%;
    height: 20%;
    position:relative; 
    top: -4px;
    
}

/*grid*/

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 300px 300px 300px 0.5fr;
    grid-template-rows: 1fr;
    gap: 0% 2%;
    grid-template-areas:
      "MarginLeft New Open Closed MarginRitgh";
  }
  
  .New { grid-area: New; }
  
  .Open { grid-area: Open; }
  
  .Closed { grid-area: Closed; }
  
  .MarginLeft { grid-area: MarginLeft; }
  
  .MarginRitgh { grid-area: MarginRitgh; }

.grid-title-container{
    display: grid;
    grid-template-columns: 70% 30%;
    gap:2px;
    grid-template-areas:
    "title-left title-right";
}

  /*scrollbars*/

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFA8A8;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFA8A8;
  }
  